<div style="background-image: url(assets/images/bg.jpg);
height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">

  <app-header></app-header>

  <div class="conatiner" style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
    <div class="row">
      <div class="col-md-4"></div>

      <div class="col-md-4">
        <div><b> Birth Date</b><br>
          <select (change)="changemonths($event)">
            <option *ngFor="let i of date">{{i}}</option>
          </select>
          <select (change)="changemonths($event)">
            <option *ngFor="let i of months">{{i}}</option>
          </select>
          <select (change)="changemonths($event)">
            <option *ngFor="let i of year">{{i}}</option>
          </select>
        </div><br>
        <div><b> Gender </b><br>
          <select (change)="changemonths($event)">
            <option *ngFor="let i of gender">{{i}}</option>
          </select>
          <div><br>
            <span *ngIf="isavailable; then condition1 else condition2">
              <p>Condition is valid</p>
              <hr>
            </span><br>
            <ng-template #condition1 >Condition is valid</ng-template>
            <ng-template #condition2>Condition is invalid</ng-template>
          </div><br>

          <button (click)="myClickFunction($event)">Click Me</button>

        </div>

        <div class="col-md-4"></div>

      </div>
    </div>
  </div>

  <app-footer></app-footer>

</div>